---
import type { Launch } from "../types/launch";
interface Props {
  launch: Launch;
}

const { launch } = Astro.props;

const { id, name, links, success } = launch;
const status = success ? "success" : "failure";
---

<article
  class="border border-gray-600 p-2 rounded-md hover:scale-105 transition"
>
  <a href=`/launch/${id}`>
    <div class="flex flex-col gap-1">
      <img src={links.patch.small} alt={name} class="block" />
      <h3 class="text-sm text-center">{name}</h3>
      <span
        class:list={[
          "text-xs px-2 rounded text-center",
          {
            "bg-green-400 text-green-800": success,
            "bg-red-400 text-red-800": !success,
          },
        ]}
      >
        {status}
      </span>
    </div>
  </a>
</article>
